/*CSS variables*/
:root {
  --color-primary: #3b5d50;
  --color-primary-light: #35736e;
  --color-accent: #f9bf29;
  --color-accent-light: #facc54;
  --color-white: #eff2f1;
  --color-gray-dark: #2f2f2f;
  --color-gray-base: #6a6a6a;
  --color-gary-light: #c4c4c4;
  --text-12: 12px;
  --text-14: 14px;
  --text-16: 16px;
  --text-18: 18px;
  --text-20: 20px;
  --text-22: 22px;
  --text-24: 24px;
  --text-26: 26px;
  --text-28: 28px;
  --text-34: 34px;
  --text-36: 36px;
  --text-44: 44px;
  --text-54: 54px;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.main-header {
  background-color: var(--color-primary);
  padding: 30px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  /* استایل شیشه ای */
  background-color: rgba(59, 93, 80, 0.85);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo-wrapper h3 {
  font-weight: 500;
  font-size: var(--text-34);
  color: #fff;
}

.logo-wrapper img {
  width: 48px;
  height: 48px;
}

.main-header nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

.main-header nav a {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease;
}

.main-header nav a:hover {
  opacity: 0.5;
}

.user {
  display: flex;
  gap: 15px;
}
.user img {
  /* display: flex;
  align-items: center; */
  width: 24px;
}

.intro {
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 100px;
  background-image: url(assets/icons/pattern.svg);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 100px;
  /* margin-top: 30px; */
}
.intro h1 {
  font-weight: 600;
  font-size: 54px;
  color: #fff;
  width: 419px;
  line-height: 1.2;
}
.button {
  display: flex;
  align-items: center;
  /* justify-content: flex-start; */
  gap: 14px;
}

.btn-shop {
  padding: 20px 50px;
  background-color: var(--color-accent);
  color: #2f2f2f;
  font-size: var(--text-16);
  font-weight: 500;
  border-radius: 30px;
  border: none;
  transition: all 0.4s ease;
}

.btn-shop:hover {
  background-color: var(--color-accent-light);
  transform: translateY(-2px);
}

.btn-explore {
  border: 2px solid var(--color-gary-light);
  border-radius: 30px;
  padding: 20px 50px;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--color-white);
  font-size: var(--text-16);
  transition: all 0.4s ease;
}

.btn-explore:hover {
  background-color: rgba(255, 255, 255, 0.25);
  transform: translateY(-2px);
}

#couch {
  width: 810px;
}

.top-seller {
  padding: 50px 100px;
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-seller__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.top-seller__title {
  font-weight: 600;
  font-size: var(--text-34);
  color: var(--color-gray-dark);
  width: 340px;
}

.top-seller__desc {
  font-size: var(--text-14);
  color: var(--color-gray-base);
  font-weight: 400;
  width: 360px;
  line-height: 24px;
}

.top-seller__btn {
  font-weight: 500;
  font-size: var(--text-16);
  color: var(--color-white);
  border-radius: 30px;
  padding: 15px 5px;
  background-color: var(--color-gray-dark);
  width: 130px;
  border: none;
  margin-top: 50px;
  transition: all 0.4s ease;
}

.top-seller__btn:hover {
  cursor: pointer;
  background-color: var(--color-gray-base);
}

.top-seller__products {
  display: flex;
}

.top-seller__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 44px;
  padding: 24px 24px 40px 24px;
  border-radius: 30px;
  transition: all 0.4s ease;
}

.top-seller__item:hover {
  background-color: rgba(53, 115, 110, 0.1);
  border-radius: 30px;
}

.product-card__add-btn {
  position: absolute;
  bottom: 0;
  transform: translate(-50%, 50%);
  left: 50%;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: var(--color-gray-dark);
  color: var(--color-white);
  border: none;
  font-size: var(--text-22);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  /* مخفی کردن دکمه در حالت عادی */
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

/* وقتی روی  کارت والد هاور شد، دکمه مثبت ظاهر شود */
.top-seller__item:hover .product-card__add-btn {
  opacity: 1;
  visibility: visible;
}

.product-card__add-btn:hover {
  background-color: var(--color-primary);
  transform: translate(-50%, 50%) scale(1.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.top-seller__item__img {
  width: 300px;
}

.top-seller__item figcaption span {
  display: block;
  text-align: center;
}

.top-seller__item figcaption span:first-child {
  font-size: var(--text-16);
  font-weight: 600;
}

.top-seller__item figcaption span:nth-child(2) {
  font-size: var(--text-18);
  font-weight: 700;
}

/* کانتینر اصلی بخش */
.why-choose {
  background-color: var(--color-white);
  padding: 50px 100px;
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  gap: 50px;
  align-items: center;
}

.why-choose__container {
  display: flex;
  /* flex-direction: column; */
  /* align-items: flex-start; */
  /* justify-content: space-between; */
  gap: 60px;
}

/* عنوان اصلی بخش */
.why-choose__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.why-choose__title {
  font-size: var(--text-36);
  font-weight: 700;
  color: var(--color-gray-dark);
}

.why-choose__desc {
  font-size: var(--text-16);
  color: var(--color-gray-base);
  line-height: 1.6;
  max-width: 465px;
}

/* ویژگی ها 2 ستونه */
.why-choose__features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 30px;
  margin-top: 40px;
}

.feature-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.feature-item__icon-wrapper {
  min-width: 50px;
  height: 50px;
  background-color: rgba(53, 115, 110, 0.2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-item__icon {
  width: 25px;
}

.feature-item__text {
  font-weight: 400;
  font-size: var(--text-14);
  color: var(--color-gray-base);
  max-width: 230px;
  line-height: 24px;
}

.feature-item__title {
  font-size: var(--text-18);
  font-weight: 600;
  color: var(--color-gray-dark);
  margin-bottom: 5px;
}

.why-choose__image-wrapper {
  width: 100%;
}

.why-choose__image {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.about-us {
  background-color: var(--color-white);
  padding: 100px 80px;
}

.about-us__container {
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  gap: 30px;
  align-items: center;
}

.about-us__gallery {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  height: 520px;
  /* gap: 5px; */
}

.about-us__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.about-us__img--large {
  grid-column: 1/8;
  grid-row: 1/13;
}

.about-us__img--small-top {
  width: 65%;
  grid-column: 8/13;
  grid-row: 1/5;
  margin-left: 15px;
  /* justify-self: end; */
}

.about-us__img--small-bottom {
  width: 90%;
  grid-column: 7/12;
  grid-row: 5/13;
  z-index: 2;
  transform: translateY(28px);
}

.about-us__content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about-us__title {
  font-size: var(--text-34);
  font-weight: 600;
  color: var(--color-gray-dark);
  line-height: 1.2;
  max-width: 370px;
}

.about-us__desc {
  font-size: var(--text-16);
  color: var(--color-gray-base);
  line-height: 1.6;
  width: 444px;
}

.about-us__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 30px;
  list-style: none;
  padding: 0;
  margin: 10px 0 20px 0;
}

.about-us__list-item {
  font-size: var(--text-16);
  color: var(--color-gray-base);
  line-height: 1.4;
  position: relative;
  padding-left: 20px;
  width: 250px;
}

.about-us__list-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
  width: 6px;
  height: 6px;
  /* background-color: #2b5c54; */
  background-color: var(--color-primary-light);
  border-radius: 50%;
}

.about-us__btn {
  background-color: var(--color-gray-dark);
  color: #fff;
  text-decoration: none;
  padding: 15px 36px;
  border-radius: 30px;
  font-weight: 600;
  transition: background-color 0.3s ease;
  max-width: 122px;
}

.about-us__btn:hover {
  background-color: var(--color-gray-base);
}

.products {
  display: flex;
  padding: 50px 180px;
  gap: 50px;
  background-color: var(--color-white);
}

.product__item {
  display: flex;
  gap: 36px;
}

.product__item__img {
  width: 120px;
  background-color: #35736e4d;
  border-radius: 10px;
}

.product__item__txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.product__item__txt h3 {
  font-size: var(--text-14);
  font-weight: 700;
  color: #000;
}

.product__item__txt p {
  font-size: var(--text-14);
  font-weight: 400;
  color: var(--color-gray-base);
  max-width: 200px;
}

.product__item__txt a {
  font-size: var(--text-12);
  font-weight: 700;
  color: var(--color-gray-base);
  text-decoration: none;
}

.testimonials {
  padding: 80px 100px;
  text-align: center;
  background-color: var(--color-white);
}

.testimonials__title {
  font-size: var(--text-34);
  margin-bottom: 45px;
  color: var(--color-gray-dark);
  font-weight: 600;
}

.testimonials__container {
  /* position: relative; */
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.testimonials__wrapper {
  width: 100%;
  overflow: hidden;
}

.testimonials__slide {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* min-height: 300px; */
}

.testimonials__slide--active {
  display: flex;
}

.testimonials__txt {
  font-size: 18px;
  line-height: 1.6;
  color: var(--color-gray-dark);
  max-width: 750px;
  font-style: italic;
  margin-bottom: 40px;
  /* text-align: center; */
  flex: 1;
}

.testimonials__user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.testimonials__user-img {
  width: 80px;
  /* height: 80px; */
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.testimonials__user-name {
  font-size: var(--text-18);
  font-weight: 400;
  color: #000;
}

.testimonials__user-role {
  font-size: var(--text-14);
  color: var(--color-gray-dark);
  font-weight: 400;
}

/* Buttons (the arrows) */
.testimonials__btn {
  /* position: absolute; */
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 1px solid var(--color-gary-light);
  /* background-color: var(--color-white); */
  background-color: transparent;
  cursor: pointer;
  z-index: 10;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: #888;
}

.testimonials__btn:hover {
  background-color: var(--color-primary-light);
  color: var(--color-white);
  border-color: var(--color-primary-light);
}

.testimonials__btn--prev {
  left: -60px;
}

.testimonials__btn--next {
  right: -60px;
}

/*---- Dots Indicators --- */
.testimonials__dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 25px;
  padding: 10px 0;
  overflow: visible;
}

.testimonials__dot {
  width: 10px;
  height: 10px;
  background-color: var(--color-gary-light);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.testimonials__dot--active {
  background-color: var(--color-primary);
  /* transform: scale(1.2); */
  width: 13px;
  height: 13px;
}

.testimonials__dot:hover:not(.testimonials__dot--active) {
  background-color: #a0a0a0;
}

.recent-blog {
  padding: 60px 100px 150px;
  background-color: var(--color-white);
}

.recent-blog__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.recent-blog__title {
  font-size: var(--text-28);
  color: var(--color-gray-dark);
  font-weight: 700;
}

.recent-blog__view-all {
  color: #333;
  text-decoration: underline;
  font-size: var(--text-18);
  font-weight: 600;
  transition: all 0.3s ease;
}

.recent-blog__view-all:hover {
  color: var(--color-gray-base);
}

/* چیدمان سه ستونه */
.recent-blog__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* استایل کارت ها  */
.blog-card__image {
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
  border-radius: 20px;
}

.blog-card:hover .blog-card__image {
  transform: scale(1.05);
}

.blog-card__title {
  font-size: var(--text-18);
  color: var(--color-gray-dark);
  margin-top: 10px;
  font-weight: 600;
}

.blog-card__meta {
  font-size: var(--text-14);
  color: var(--color-gray-dark);
  font-style: italic;
}

.blog-card__meta span {
  font-weight: 700;
  color: var(--color-gray-dark);
  font-style: normal;
}

.newsletter-section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 60px 10% 20px 10%;
  position: relative;
  gap: 200px;
}

.newsletter-section__content {
  max-width: 500px;
}

.newsletter-section__header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 25px;
}

.newsletter-section__icon {
  display: flex;
  align-items: center;
  color: #555;
}

.newsletter-section__title {
  display: flex;
  align-items: center;
  font-size: var(--text-22);
  color: var(--color-gray-dark);
  font-weight: 600;
}

.newsletter-section__form {
  display: flex;
  gap: 15px;
  align-items: center;
}

.newsletter-section__input {
  padding: 12px 15px;
  border: 1px solid var(--color-gary-light);
  border-radius: 8px;
  background-color: transparent;
  font-size: var(--text-14);
  outline: none;
  transition: border-color 0.03s ease;
}

.newsletter-section__input:focus {
  border-color: #24483a;
}

.newsletter-section__btn {
  color: #fff;
  border: none;
  padding: 10px 14px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.03s ease;
  background-color: var(--color-primary-light);
}

.newsletter-section__btn:hover {
  background-color: #1a352a;
}

.newsletter-section__image-container {
  display: flex;
  justify-content: flex-end;
}

.newsletter-section__image {
  max-width: 100%;
  object-fit: contain;
  margin-top: -190px;
}

/* بخش فوتر */
.main-footer {
  padding: 0 100px;
}

.main-footer__container {
  padding: 0 20px;
}

/* Newsletter Section */
.main-footer__newsletter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 150px;
  margin-top: -150px;
}

.main-footer__newsletter-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.main-footer__newsletter-text {
  color: var(--color-gray-dark);
  font-weight: 600;
  font-size: var(--text-18);
}

.main-footer__form {
  display: flex;
  gap: 10px;
}

.main-footer__input {
  border: 1px solid var(--color-gary-light);
  padding: 14px 22px;
  border-radius: 10px;
  outline: none;
  transition: all 1s ease;
}

.main-footer__input:focus {
  border: 3px solid var(--color-primary-light);
}

.main-footer__btn--send {
  background-color: var(--color-primary-light);
  color: var(--color-white);
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.main-footer__btn--send:hover {
  background-color: var(--color-primary);
}

.main-footer__sofa-img {
  max-width: 700px;
  height: auto;
  /* display: none; */
}

/* Info Section  */
.main-footer__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.main-footer__brand {
  /* max-width: 400px; */
  display: flex;
  flex-direction: column;
}

.main-footer__logo {
  display: flex;
  align-items: center;
  gap: 10px;

  margin-bottom: 20px;
}

.main-footer__logo-text {
  font-size: var(--text-34);
  font-weight: 500;
  color: var(--color-gray-dark);
}

.main-footer__desc {
  font-size: var(--text-16);
  line-height: 1.6;
  margin-bottom: 100px;
  max-width: 590px;
  color: var(--color-gray-base);
}

.main-footer__socials {
  display: flex;
  gap: 10px;
}

.main-footer__social-icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #eee;
}

/* رنگ های اختصاصی آیکون ها */
.main-footer__social-icon--github {
  background-color: #f0f0f0;
}
.main-footer__social-icon--linkedin {
  background-color: #e3f2fd;
  /* color: #0077b5; */
}
.main-footer__social-icon--instagram {
  background-color: #fce4ec;
  /* color: #e1306c; */
}

/* Links Columns */
.main-footer__links-wrapper {
  display: flex;
  align-items: flex-start;
  /* justify-content: center; */
  gap: 60px;
  /* margin-bottom: 50px; */
  margin-top: 55px;
}

.main-footer__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-footer__list {
  list-style: none;
  padding: 0;
}

.main-footer__list li {
  margin-bottom: 20px;
}

.main-footer__link {
  text-decoration: none;
  color: #666;
  font-size: 14px;
  /* margin-bottom: 50px; */
}

.main-footer__bottom {
  border-top: 1px solid #eee;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  line-height: 24px;
}

.main-footer__copy {
  font-weight: 400;
  font-size: var(--text-14);
  color: var(--color-gray-base);
}

.main-footer__legal {
  display: flex;
  align-items: center;
  gap: 20px;
}

.main-footer__legal-link {
  font-weight: 500;
  font-size: var(--text-14);
  color: var(--color-gray-base);
  text-decoration: none;
}

.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  background-color: #3b5d50;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}
